{
  "NSPrivacyAccessedAPITypes" : [
    {
      "NSPrivacyAccessedAPIType" : "NSPrivacyAccessedAPICategoryUserDefaults",
      "NSPrivacyAccessedAPITypeReasons" : [
        "CA92.1"
      ]
    }
  ],
  "NSPrivacyCollectedDataTypes" : [

  ],
  "NSPrivacyTracking" : false,
  "NSPrivacyTrackingDomains" : [

  ]
}

